In [29]:
import pandas as pd
gas = pd.read_csv('https://github.com/vacker92/data_gas/blob/main/gasdata/gas.csv?raw=true')

In [63]:
gas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 368088 entries, 0 to 368087
Data columns (total 4 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   연월일     368088 non-null  object
 1   시간      368088 non-null  int64
 2   구분      368088 non-null  object
 3   공급량     368088 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 11.2+ MB

In [77]:
gas_01 = pd.pivot_table(gas,['공급량'],['연월일','시간'])

In [78]:
gas_01

                       공급량
연월일        시간
2013-01-01 1   1960.440286
           2   1845.572857
           3   1739.212857
           4   1735.236857
           5   1809.666571
...                    ...
2018-12-31 20  2460.575286
           21  2400.712429
           22  2332.014571
           23  2218.824143
           24  2087.399429

[52584 rows x 1 columns]