In [2]:
import pandas as pd

gas_time = pd.read_csv('https://github.com/vacker92/data/blob/main/gasdata/gas_time.csv?raw=true',encoding='cp949')

In [3]:
gas_time.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52584 entries, 0 to 52583
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   연월일     52584 non-null  object
 1   시간      52584 non-null  int64
 2   공급량     52584 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 1.2+ MB

In [4]:
gas_time.head()

          연월일  시간        공급량
0  2013-01-01   1  13723.082
1  2013-01-01   2  12919.010
2  2013-01-01   3  12174.490
3  2013-01-01   4  12146.658
4  2013-01-01   5  12667.666