In [2]:
import pandas as pd

gas_com = pd.read_csv('https://github.com/vacker92/data/blob/main/gasdata/gas_com.csv?raw=true',encoding='cp949')

In [3]:
gas_com.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15337 entries, 0 to 15336
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   연월일     15337 non-null  object
 1   구분      15337 non-null  object
 2   공급량     15337 non-null  float64
dtypes: float64(1), object(2)
memory usage: 359.6+ KB

In [4]:
gas_com.head()

          연월일 구분        공급량
0  2013-01-01  A  60125.336
1  2013-01-01  B  52242.472
2  2013-01-01  C   5333.872
3  2013-01-01  D  35549.984
4  2013-01-01  E  79467.648